{% extends 'basic.html' %}
{% block title %}Login{% endblock %}

{% block body %}
{% load crispy_forms_tags %}
<div class="col-md-4 offset-md-4 py-3" style="box-shadow: 0 4px 50px 0 rgb(249 235 235 / 20%), 0 6px 50px 0 rgb(227 215 215 / 19%);">
    <form method="post">
        {% csrf_token %}
        <h3 class="text-center">Khoj The Search</h3>
        <div class="form-group">
            <label>Input Values</label>
            <input name="array" type="text" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Search Value</label>
            <input name='query' type="text" class="form-control" required>
        </div>
        <button class="btn btn-primary" type="submit" style="width:100%; font-size:1.5rem;">Search</button>
    </form>
    {% if result %}
    <div>
        <b>Result:</b>{{result}}
    </div>
    {% endif %}
</div>

{% endblock %}

{% block css %}
.form-control:hover{
    background-color: rgb(46, 23, 68);
    color:aliceblue;
}
{% endblock %}